import { mockItGenerator } from 'generate-it-mockers'
import * as interfaces from './interfaces';

export interface EventModels {
{% for path, channel in swagger.channels -%}
  {% if channel.publish and _.includes(nodegenRc.helpers.publishOpIds, channel.publish.operationId) -%}
    {{ channel.publish.operationId }}: interfaces.{{ channel.publish['x-response-definitions'] }};
  {% endif -%}
  {% if channel.subscribe and _.includes(nodegenRc.helpers.subscribeOpIds, channel.subscribe.operationId) -%}
    {{ channel.subscribe.operationId }}: interfaces.{{ channel.subscribe['x-response-definitions'] }};
  {% endif -%}
{% endfor -%}
}

export const eventModels: EventModels = {
{% for path, channel in swagger.channels -%}
  {% if channel.publish and _.includes(nodegenRc.helpers.publishOpIds, channel.publish.operationId) -%}
    {{ channel.publish.operationId }}: mockItGenerator({{ channel.publish.message.payload | dump }}, undefined, { minItems: 1, maxItems: 1 }),
  {% endif -%}
  {% if channel.subscribe and _.includes(nodegenRc.helpers.subscribeOpIds, channel.subscribe.operationId) -%}
    {{ channel.subscribe.operationId }}: mockItGenerator({{ channel.subscribe.message.payload | dump }}, undefined, { minItems: 1, maxItems: 1 }),
  {% endif -%}
{% endfor -%}
}
